/* Remove redundant widgets (when working on desktop) */
:not(.is-mobile)
:where(
  .metadata-properties-heading,
  .sidebar-toggle-button,
  .workspace-ribbon
) {
  display: none
}
.workspace-leaf-content[data-type=kanban]>.view-header {
  display: none !important;
}
/* Hide blockid */
.cm-blockid:not(.cm-active > *) {
  color: transparent !important;
}
/* Remove redundant decorations & Unify Colors */
.workspace-tab-header-container *::before {
  display: none
}
.workspace-tab-header-container *::after {
  display: none
}
.workspace-tab-header-container, .workspace-tab-header-container-inner {
  padding-left: 0.5em !important;
}
.workspace-tab-header-container, .workspace-tab-header-inner, .workspace-tab-header-container-inner, .workspace-leaf {
  background-color: var(--color-base-00) !important;
  border: none !important;
}
.titlebar-button {
  background-color: var(--color-base-00);
}
.workspace-tab-header {
  box-shadow: none !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
}
/* Replace with new decoration */
.workspace-tab-header-inner {
  border-top: 1.5px solid var(--color-base-100) !important;
  border-radius: 0px !important;
}
.cm-formatting-quote {
  color: transparent !important;
}
.pdf-plus-color-palette {
  display: none !important;
}